	body{
	margin:0;
	padding:0;
	}
	
	footer{
	background-color: #006778;
	margin: 0;
	padding: 10px;	
	}
	
	.footer_container{
	display: flex;
	padding: 4vh 15vw;
	justify-content: space-between;
	border-bottom: 1px solid #999;
	}

	.footernav{
	flex: 1;
	width: 100%;
	max-width: 25vw;
	}

	.footernav_head{
	border-bottom: 2px solid #999;
	display: flex;
	align-items: center;
	margin-bottom: 1em;
	}

	.footernav_head h1{
	color: #fff;
    margin: 1em 0;
    font-size: 16px;
    line-height: 1.4em;
    letter-spacing: 1.5px;
	text-transform: uppercase;
	}

	.footerlist{
	column-count:1;
	padding: 0;
    list-style: none;
    margin-left: 0;
    line-height: 1rem;
	}

	.footernav_list ul{
	margin: 0 0 20px;
	}

	.footernav_list ul li{
	padding-bottom: 2px;
	font-size: 17px;
	}
	
	.footernav_list ul li a{
	color: #fff;
	text-decoration: none;
	transition-duration: 0.4s;
	}
	
	.footernav_list ul li a:hover{
	color: #3399ff;
	transition-duration: 0.4s;
	}

	.disclaimer{
	align-items: center;
	color: #f8f9fa;
	width: 75%;
	margin: 0 auto;
	}

	.disclaimer p{
	margin-top: 0;
	}

	.disclaimer h2, .disclaimer p, .footernav_list ul li, .footernav_head h1{
	font-family: Arial, sans-serif;
	font-weight: normal;
	}