/*Enquiry page style*/

/*--------------------Enquiry form style--------------------*/
	

	input[type=text], select {
	  width: 100%;
	  padding: 12px 20px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	}


	input[type=submit], input[type=reset] {
	  width: 20%;
	  background-color: black;
	  color: white;
	  padding: 14px 0px;
	  margin: 15px 30px;
	  border: none;
	  border-radius: 30px;
	  cursor: pointer;
	}

	input[type=submit]:hover{
	  background-color: #228B22;
	}

	input[type="reset"]:hover{
		background-color: #ff3333;
	}
	
.table{border:solid black 2px;
margin: 0 auto;}

table,th,td{border:1px solid black;}



/*			Back to top button Style	*/

#backtotop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #3399ff;
	color: white;
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 4px;
	transition-duration:0.4s;
	opacity:0.4
	}

	#backtotop:hover {
	background-color: #3366ff;
	transition-duration:0.4s;
	opacity:1;
	}